{% extends 'base.html' %}

{% block content %}
<div class = "container-fluid predict-container">
    <form action="/predict-disease" method="POST" id="diseaseform">
        <select class="demo" multiple id="multipleSelect" name="diseases">
            {% for sym in available_diseases %}
            <option value="{{ sym }}">{{ sym.title() }}</option>
            {% endfor %}
            <!-- <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
        <option value="8">Eight</option>
        <option value="9">Nine</option>
        <option value="10">Ten</option>
    </select> -->
            <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <div id="resultant-disease">
        {% if not disease %}
            <h2> You are Healthy</h2>
        {% else %}
            <h1>You have {{ disease }}</h1>
        {% endif %} 
    </div>
</div>

{% endblock %}