{% extends 'base.html' %}

{% block content %}
<div class = "container-fluid predict-container">
    <form action="/predict-disease" method="POST" id="diseaseform">
        <select class="demo" multiple id="multipleSelect" name="diseases">
            {% for sym in available_diseases %}
                <option value="{{ sym }}">{{ sym.title() }}</option>
            {% endfor %}
            
            <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <div id="resultant-disease">
        {% if not disease %}
            <h2> You are Healthy</h2>
        {% else %}
            <h1>You have {{ disease }}</h1>
        {% endif %} 
    </div>
</div>

{% endblock %}